.styling{
  background-color: red;
  color: white;
}


button{
  padding: 20px;
  background-color: blue;
  outline: none;
  border: none;
  color: white;
}

div,h1,button{
  transition: all 0.3s ease-in;
}